<div class="card mt-5">
  <ul class="list-group list-group-flush">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= user.name %>
        <%= link_to '編集', edit_user_path(user) %>
        <%= link_to '削除', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to '新規登録', new_user_path, class: 'btn btn-primary mt-5' %>
