<h1 class="font-italic">詳細</h1>
<h2 class="font-italic"><%= @user.name %></h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">日</th><th scope="col">月</th><th scope="col">火</th><th scope="col">水</th><th scope="col">木</th><th scope="col">金</th><th scope="col">土</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% dates(@user).each do |date| %>
        <% if date == @user.schedules.first&.scheduled_date %>
          <td class="bg-info"><%= date.day %></td>
        <% else %>
          <td><%= date.day %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
