<span><%= @today.year %></span>年
<span><%= @today.month %></span>月
<table>
  <thead>
    <tr>
      <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
  </thead>
  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <% week.each do |date| %>
          <td><%= date.day %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
